 <mat-card>
   <h2>Registor</h2>
      <mat-form-field>
          <input matInput placeholder="Frist Name">
        </mat-form-field><br>
      
        <mat-form-field>
          <input matInput placeholder="Last Name">
        </mat-form-field><br>
      
        <mat-form-field>
            <input matInput placeholder="Password" type="password">
          </mat-form-field><br>

          <mat-form-field>
              <input matInput placeholder="Confrim Password" type="password">
            </mat-form-field><br>

            <button mat-raised-button color="primary">Registor</button>

  </mat-card>